bierner.markdown-preview-github-styles-0.1.6-universal/
divyanshuagrawal.competitive-programming-helper-2025.4.1743875007/
james-yu.latex-workshop-10.9.1-universal/
kylinideteam.cmake-intellisence-0.3.4-universal/
kylinideteam.kylin-cmake-tools-0.0.4-universal/
llvm-vs-code-extensions.vscode-clangd-0.1.33-universal/
manasxx.background-cover-2.7.0-universal/
vadimcn.vscode-lldb-1.11.4/
xaver.clang-format-1.9.0/
